<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="MüşteriTakipDBEntities" connectionString="metadata=res://*/Models.Musteriler.csdl|res://*/Models.Musteriler.ssdl|res://*/Models.Musteriler.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MüşteriTakipDB;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MusteriEntities" connectionString="metadata=res://*/Models.MusteriModel.csdl|res://*/Models.MusteriModel.ssdl|res://*/Models.MusteriModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MüşteriTakipDB;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>